html {
  min-height:100%;
}

body {
  min-height:100%;
  margin: 0;
  background-size: auto;
  background-color: #ffffff;
  background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(230, 140, 125, 0.5) 20%, rgba(0, 203, 230, 0.5));
  background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(230, 140, 125, 0.5) 20%, rgba(0, 203, 230, 0.5));
  background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(230, 140, 125, 0.5) 20%, rgba(0, 203, 230, 0.5));
  background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(230, 140, 125, 0.5) 20%, rgba(0, 203, 230, 0.5));
}

